# 允许bean定义覆盖
spring:
  jackson:
    time-zone: Asia/Shanghai
  main:
    allow-bean-definition-overriding: true

management:
  metrics:
    tags:
      application: ${spring.application.name}
      #app-version: '@project.version@'
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: [ 'prometheus','health', 'info' ]
        exclude: [ 'shutdown' ]
      path-mapping:
        prometheus: prometheus
        health: health
        info: info
  endpoint:
    health:
      show-details: always
    prometheus:
      access: read_only
    info:
      access: read_only
  prometheus:
    metrics:
      export:
        enabled: true

# springdoc-openapi项目配置
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
    show-extensions: true
    enabled: true
  api-docs:
    path: /v3/api-docs
    enabled: true
  default-flat-param-object: true



